<div class="map-container">
  <div id="map-nav"></div>
  <div class="section-title"> Destination </div>
  <div class="map-left">
    <div class="directions">
      <div class="secondary-title"> Direction Details </div>
      <p> The wedding and cocktail hour will be held in the backyard of the mother of the bride.</p>
      <p>Shortly after, guests will be transported by trolley down to the Fox River Park for dinner and dancing.  </p>
      <p>Don't worry about dancing too hard, as transportation will be provided to and from the nearby Holiday Inn. </p>
      <div "secondary-title"> Links for Directions to: </div>
      <div id="wedding-directions" class="direction-button"> </div>
      <div id="reception-directions" class="direction-button"> </div>
      <div id="hotel-directions" class="direction-button"> </div>
    </div>
  </div>
  <div class="map-right">
    <div id="map"></div>

    <div class="map-buttons">


    </div>
  </div>
  <div class="clearfix"> </div>
  <div class="hotel">
    <div class="secondary-title">Hotel Reservations </div>
    <p> While you are free to stay where ever you like, we recommend the Holiday Inn in Crystal Lake as transportation will be provided to and from the wedding activities. </p>
    <a href="http://www.hicrystallake.com/" target="_blank" class="rsvpButton"> Book Your Room Here</a>
  </div>
  <div id="timeline-nav"></div>
</div>
