<div class="map-container">
  <div id="map-nav"></div>
  <div class="section-title"> Destination </div>
  <div class="map-top-half">
    <div class="map-left">
      <div class="directions">
        <div class="secondary-title mobile-secondary-title"> Direction Details </div>
        <div class="map-text">The wedding and cocktail hour will be held in the backyard of the mother of the bride, 33 Little Marryat, Trout Valley, IL 60013.</div>
        <div class="map-text">The reception will be held at the Trout Valley Park.</div>
        <div class="map-text">Transportation will be provided throughout the night. A bus will be taking guests to the ceremony from the Holiday Inn Hotel starting at 4:00 PM. </div>
        <div class="map-text">All drivers will need to follow the signs to park at the Trout Valley Park where parking attendants will assist with directions.  </div>
        <div class="map-text"> Starting at 4pm there will be 5 buses making a continual loop to the house from the park for the ceremony. </div>
        <div class="map-text">After the ceremony and cocktail hour buses will transport guests to the reception for dinner and dancing starting at 6:00 PM. </div>
        <div class="map-text">Don't worry about "dancing too hard", as transportation from the reception to the Holiday Inn Hotel will be provided from 10:00 PM - 1:00 AM.</div>
        <div "secondary-title"> Links for Directions to: </div>
        <div id="wedding-directions" class="direction-button"> </div>
        <div id="reception-directions" class="direction-button"> </div>
        <div id="hotel-directions" class="direction-button"> </div>
      </div>
    </div>
    <!-- <div class="mobile-float-clearfix"></div> -->
    <div class="map-right">
      <div id="map"></div>

      <div class="map-buttons">
      </div>
    </div>
  </div>
  <div class="clearfix"> </div>
  <div class="hotel">
    <div class="secondary-title mobile-secondary-title">Hotel Reservations </div>
    <p> While you are free to stay where ever you like, we recommend the Holiday Inn in Crystal Lake as transportation will be provided to and from the wedding activities. </p>
    <a href="http://www.hicrystallake.com/" target="_blank" class="rsvpButton"> Book Your Room Here</a>
  </div>
  <div id="timeline-nav"></div>
  <!-- <div class="divider"></div> -->
</div>
