<div class="map-container">
    <div class="map-title"><h3> Destination</h3> </div>
    <div class="map-left">
      <div class="directions">
        <p> The wedding and cocktail hour will be helped in the backyard of the mother of the bride.</p>
        <button id="wedding-directions"> Directions to Wedding</button>
        <p>Shortly after, guests will be transported by trolley down to the Fox River Park for dinner and dancing.  </p>
        <button id="reception-directions"> Directions to Reception</button>
        <p>Don't worry about partying too hard, as transportation will also be provided to and from the nearby Holidae Inn</p>
        <button id="hotel-directions"> Directions to Hotel</button>
      </div>
    </div>
    <div class="map-right">
      <div id="map"></div>

      <div class="map-buttons">


      </div>
    </div>
    <div class="hotel">
      <h3> Hotel Reservations </h3>
      <p> Rooms have been blocked off at the nearby Holiday Inn, and we recommend using them as transportation will be provided from that location </p>
      <a href="#"> Book Your Room Here></a>
    </div>
</div>
