<div class="party" id="party">
    <div class="section-title"> The Wedding Party </div>
    <div id="bridesmaids">
      <!-- <div class="person" id="emily"> -->
      <div class="first-row">
        <a class="person" id="emily" href="#emilyModal"></a>

          <div id="emilyModal" class="modalDialog">
            <div>
              <a href="#close" title="Close" class="close">X</a>
              <h3> Maid Of Honor </h3>
              <p> Emily is the sister of the bride. When she is not busy at work or with her children, Emily enjoys a good knitting session. </p>

            </div>
          </div>
        <!-- </div> -->
        <a class="person" id="adrian" href="#adrianModal"></a>

          <div id="adrianModal" class="modalDialog">
            <div>
              <a href="#close" title="Close" class="close">X</a>
              <p> Adrienne is the sister-in-law of the bride.  When not busy with her new daughter Ali, Addriene can be found jamming out some raegge beats. </p>

            </div>
          </div>
        <a class="person" id="elena" href="#elenaModal"></a>

          <div id="elenaModal" class="modalDialog">
            <div>
              <a href="#close" title="Close" class="close">X</a>
              <p> Elena is a sister of the groom.  In her free time she enjoys not playing volleyball.  </p>

            </div>
          </div>
        <a class="person" id="leah" href="#leahModal"></a>

          <div id="leahModal" class="modalDialog">
            <div>
              <a href="#close" title="Close" class="close">X</a>
              <p> Leah is a sister of the groom.  She is an avid volleyball player and tv marathoner. </p>

            </div>
          </div>
        <a class="person" id="rachel" href="#rachelModal"></a>

          <div id="rachelModal" class="modalDialog">
            <div>
              <a href="#close" title="Close" class="close">X</a>
              <p> Rachel is a good friend from home of the bride. </p>

            </div>
          </div>
      </div>
      <div class="second-row">
        <a class="person" id="morgan" href="#morganModal"></a>

          <div id="morganModal" class="modalDialog">
            <div>
              <a href="#close" title="Close" class="close">X</a>
              <p> Morgan, also known as The MorgAN, enjoys a good debate over the morality of atomic weapons, as well as planning world peace with the bride over a beer" </p>

            </div>
          </div>
        <a class="person" id="wenny" href="#wennyModal"></a>

          <div id="wennyModal" class="modalDialog">
            <div>
              <a href="#close" title="Close" class="close">X</a>
              <p> Wenny, has done the most  traveling with the bride and groom.  Having lived with Molly in Detroit and traveled with the wedding couple to Thailand for a year, we are surprised she still enjoys hanging out with them </p>

            </div>
          </div>
        <a class="person" id="ann" href="#annModal"></a>

          <div id="annModal" class="modalDialog">
            <div>
              <a href="#close" title="Close" class="close">X</a>
              <p> Ann, VP of movie marathons with the bride, is best known for her liberal use of facebook emoticons and love of spicy chicken basil Thai food. </p>

            </div>
          </div>
        <a class="person" id="nicole" href="#nicoleModal"></a>

          <div id="nicoleModal" class="modalDialog">
            <div>
              <a href="#close" title="Close" class="close">X</a>
              <p> You may just recognize Nicole as the glittery girl who recently reported on all the happenings in the Dakotas </p>

            </div>
          </div>
      </div>
    </div>
    <div id="groomsmen">
      <div class="first-row">
        <a class="person" id="chen" href="#chenModal"></a>

          <div id="chenModal" class="modalDialog">
            <div>
              <a href="#close" title="Close" class="close">X</a>
              <h3> Best Man </h3>
              <p> Chen has been a good and roomate of Nick for a long time.  When not learning in school, Chen enjoys</p>

            </div>
          </div>
        <a class="person" id="chris1" href="#chris1Modal"></a>

          <div id="chris1Modal" class="modalDialog">
            <div>
              <a href="#close" title="Close" class="close">X</a>
              <p>Chris is the brother of the bride.  Chris was recently voted "Most likely to take an infant wind surfing" </p>

            </div>
          </div>
        <a class="person" id="jim" href="#jimModal"></a>

          <div id="jimModal" class="modalDialog">
            <div>
              <a href="#close" title="Close" class="close">X</a>
              <p> Jim is the brother-in-law of the bride.  Jim is the handiman of all things music and tech related.  When not working or fathering, he sometimes enjoys meeting up with his freind to record them talking (about music)</p>

            </div>
          </div>
        <a class="person" id="adam" href="#adamModal"></a>

          <div id="adamModal" class="modalDialog">
            <div>
              <a href="#close" title="Close" class="close">X</a>
              <p> Best known for his stories, Adam has the ability to leave a whole room rolling on the ground in laughter from one of his tales. Recently Adam has parted with his porch philospher life to persue a degree in Law. </p>

            </div>
          </div>
        <a class="person" id="nick1" href="#nick1Modal"></a>

          <div id="nick1Modal" class="modalDialog">
            <div>
              <a href="#close" title="Close" class="close">X</a>
              <p> Nick is best known for his ability to motivate a heavy metal crowd to stand up and (insert any action). If you are in a need of a good cartel book or movie recommendation he is your go to guy.  </p>
            </div>
          </div>
      </div>
      <div class="second-row">
        <a class="person" id="ben" href="#benModal"></a>

          <div id="benModal" class="modalDialog">
            <div>
              <a href="#close" title="Close" class="close">X</a>
              <p> Those who know Ben the best refer to him as the Wizard, The WizardofWoz.  The wizard is known for his love of trapping, scubaing, and liking facebook messages sent 5 or more years ago.  </p>

            </div>
          </div>
        <a class="person" id="chris2" href="#chris2Modal"></a>

          <div id="chris2Modal" class="modalDialog">
            <div>
              <a href="#close" title="Close" class="close">X</a>
              <p> Chris </p>

            </div>
          </div>
        <a class="person" id="john" href="#johnModal"></a>

          <div id="johnModal" class="modalDialog">
            <div>
              <a href="#close" title="Close" class="close">X</a>
              <p> John </p>

            </div>
          </div>
        <a class="person" id="curtis" href="#curtisModal"></a>

          <div id="curtisModal" class="modalDialog">
            <div>
              <a href="#close" title="Close" class="close">X</a>
              <p> Curtis </p>

            </div>
          </div>
      </div>
    </div>
  </div>
