<div class="party" id="party">
    <div class="section-title"> The Wedding Party </div>
    <div id="bridesmaids">
      <!-- <div class="person" id="emily"> -->
      <div class="first-row">
        <a class="person" id="emily" href="#emilyModal"></a>

          <div id="emilyModal" class="modalDialog">
            <div>
              <a href="#close" title="Close" class="close">X</a>
              <div class="modal-img" id="emily"></div>
              <div class="modal-name"> Emily: Maid Of Honor </div>
              <p> Emily is the sister of the bride. When she is not busy at work or with her 3 children, Emily enjoys a good knitting session. Some have also compared her cooking to the great Julia Child. Emily is quite the accomplished big sister and role model to Molly. </p>
            </div>
          </div>
        <!-- </div> -->
        <a class="person" id="adrian" href="#adrianModal"></a>

          <div id="adrianModal" class="modalDialog">
            <div>
              <a href="#close" title="Close" class="close">X</a>
              <div class="modal-img" id="adrian"></div>
              <div class="modal-name"> Adrienne </div>
              <p> Adrienne is the sister-in-law of the bride. Adrienne is a juicing expert who is quick to identify a potential GMO. In her free time she enjoys listening to reagge, and caring her for new baby. </p>

            </div>
          </div>
        <a class="person" id="elena" href="#elenaModal"></a>

          <div id="elenaModal" class="modalDialog">
            <div>
              <a href="#close" title="Close" class="close">X</a>
              <div class="modal-img" id="elena"></div>
              <div class="modal-name"> Elena </div>
              <p> Elena is a sister of the groom.  In her free time she enjoys not playing volleyball. She is currently training to be the greatest saleswomen to ever live.  </p>

            </div>
          </div>
        <a class="person" id="leah" href="#leahModal"></a>

          <div id="leahModal" class="modalDialog">
            <div>
              <a href="#close" title="Close" class="close">X</a>
              <div class="modal-img" id="leah"></div>
              <div class="modal-name"> Leah </div>
              <p> Leah is a sister of the groom. Unlike her sister Elena, Leah does actually enjoy playing volleyball. In her free time you can find Leah marathoning tv shows on Netflix, or just hanging out with her friends. Many call her <i>the</i> GOAT - or was that <i>a</i> goat...   </p>

            </div>
          </div>
        <a class="person" id="rachel" href="#rachelModal"></a>

          <div id="rachelModal" class="modalDialog">
            <div>
              <a href="#close" title="Close" class="close">X</a>
              <div class="modal-img" id="rachel"></div>
              <div class="modal-name"> Rachel </div>
              <p> Rachel has been the Christine to Molly's Phantom since middle school (as they have recreated the Phantom of the Opera numerous times). Growing up, Rachel exposed Molly to the important things in life such as Movie Theater Butter popcorn, chocolate chip cookie dough ice cream, and Hanson Concerts.  </p>

            </div>
          </div>
      </div>
      <div class="second-row">
        <a class="person" id="morgan" href="#morganModal"></a>

          <div id="morganModal" class="modalDialog">
            <div>
              <a href="#close" title="Close" class="close">X</a>
              <div class="modal-img" id="morgan"></div>
              <div class="modal-name"> Morgan </div>
              <p> After meeting in Detroit, Morgan talks to Molly more than the groom does (to Nick's relief). Morgan enjoys a good debate over the morality of atomic weapons. When Molly and Morgan get together they enjoy solving the world's major social issues over a 6-pack of beer. </p>

            </div>
          </div>
        <a class="person" id="wenny" href="#wennyModal"></a>

          <div id="wennyModal" class="modalDialog">
            <div>
              <a href="#close" title="Close" class="close">X</a>
              <div class="modal-img" id="wenny"></div>
              <div class="modal-name"> Wenny </div>
              <p> Wenny lived with Molly in Detroit and traveled with Nick and Molly to Thailand for a year. While in Thailand, Wenny earned a reputation as a Motorbike Master only crashing her bike over a dozen times into semi trucks, other bikes, herself, and Thai children. As a true friend, Wenny entertains Molly's obsession with the Bachelor/Bachelorette and has joined in her fantasy Bachelor draft league for the past two seasons. </p>

            </div>
          </div>
        <a class="person" id="ann" href="#annModal"></a>

          <div id="annModal" class="modalDialog">
            <div>
              <a href="#close" title="Close" class="close">X</a>
              <div class="modal-img" id="ann"></div>
              <div class="modal-name"> Anne </div>
              <p> Anne, Molly's 4th grade co-teacher in Thailand, is best known for her liberal use of facebook emoticons and love of spicy chicken basil Thai food. On an average night with Molly, Anne will agree to three full length feature movies. She only opts out of movies when they fall into the genre of "cranium busters".  </p>

            </div>
          </div>
        <a class="person" id="nicole" href="#nicoleModal"></a>

          <div id="nicoleModal" class="modalDialog">
            <div>
              <a href="#close" title="Close" class="close">X</a>
              <div class="modal-img" id="nicole"></div>
              <div class="modal-name"> Nicole </div>
              <p> After meeting at freshman orientation for college, Molly & Nicole remained YaYa sisters through the years! Whether it's the glitter or the dance moves, Nicole has been mistaken for Ke$ha many times in her life. When she isn't making it rain glitter, Nicole can be found training for the Victora Secret Fashion Show.  </p>

            </div>
          </div>
      </div>
    </div>
    <div id="groomsmen">
      <div class="first-row">
        <a class="person" id="chen" href="#chenModal"></a>

          <div id="chenModal" class="modalDialog">
            <div>
              <a href="#close" title="Close" class="close">X</a>
              <div class="modal-img" id="chen"></div>
              <div class="modal-name"> Chen </div>
              <p> Chen and Nick have been freinds since they both moved to Michigan in freshman year of High School.  Chen and Nick roomed together all four years of college, and when not at college they mostly lived (as well as everyone else) in Chen's parent's basement. In his free time Chen enjoys modeling in the latest fashion attire picked out by his girlfreind. </p>

            </div>
          </div>
        <a class="person" id="chris1" href="#chris1Modal"></a>

          <div id="chris1Modal" class="modalDialog">
            <div>
              <a href="#close" title="Close" class="close">X</a>
              <div class="modal-img" id="chris1"></div>
              <div class="modal-name"> Chris </div>
              <p>Chris is the brother of the bride. Chris has two great loves in life; kite surfing and beer. Chris was recently voted "Most likely to take an infant kite surfing".  </p>

            </div>
          </div>
        <a class="person" id="jim" href="#jimModal"></a>

          <div id="jimModal" class="modalDialog">
            <div>
              <a href="#close" title="Close" class="close">X</a>
              <div class="modal-img" id="jim"></div>
              <div class="modal-name"> Jim </div>
              <p> Jim is the brother-in-law of the bride.  Jim is the handiman of all things music and tech related. Also, if you have extra dirt needing transport, Jim's your guy (#Dirtpocolypse2015). He sometimes enjoys meeting up with his friend to record them <a href="http://donteatthegravy.blogspot.com/2011/08/2-assholes-talking-music.html" target="_blank">talking</a> (about music) from which he has earned mild podcast fame. </p>

            </div>
          </div>
        <a class="person" id="adam" href="#adamModal"></a>

          <div id="adamModal" class="modalDialog">
            <div>
              <a href="#close" title="Close" class="close">X</a>
              <div class="modal-img" id="adam"></div>
              <div class="modal-name"> Adam </div>
              <p> Best known for his stories, Adam has the ability to leave a whole room rolling on the ground in laughter from one of his tales. Recently Adam has parted with his porch philospher life to persue a degree in porch sitting Law. </p>

            </div>
          </div>
        <a class="person" id="nick1" href="#nick1Modal"></a>

          <div id="nick1Modal" class="modalDialog">
            <div>
              <a href="#close" title="Close" class="close">X</a>
              <div class="modal-img" id="nick1"></div>
              <div class="modal-name"> Nick </div>
              <p> Nick is best known for his ability to motivate a heavy metal crowd to stand up and (insert any action). If you are in a need of a good cartel book or movie recommendation he is your go to guy.  </p>
            </div>
          </div>
      </div>
      <div class="second-row">
        <a class="person" id="ben" href="#benModal"></a>

          <div id="benModal" class="modalDialog">
            <div>
              <a href="#close" title="Close" class="close">X</a>
              <div class="modal-img" id="ben"></div>
              <div class="modal-name"> Ben </div>
              <p> Those who know Ben the best refer to him as the Wizard, The WizardofWoz.  The wizard is known for his love of trapping, scubaing, and liking facebook messages sent 5 or more years ago. The wizard is a wildcard and you never know exactly what you are going to get yourself into when hanging out with him. </p>

            </div>
          </div>
        <a class="person" id="chris2" href="#chris2Modal"></a>

          <div id="chris2Modal" class="modalDialog">
            <div>
              <a href="#close" title="Close" class="close">X</a>
              <div class="modal-img" id="chris2"></div>
              <div class="modal-name"> Chris </div>
              <p> Chris has been known to compare himself to an oversized Keebler Elf. If you or your company is in need of an excercise regiment let him know and he will get you set up. If you need to find him in the winter months just look for the guy in a really old red ski jacket. </p>

            </div>
          </div>
        <a class="person" id="john" href="#johnModal"></a>

          <div id="johnModal" class="modalDialog">
            <div>
              <a href="#close" title="Close" class="close">X</a>
              <div class="modal-img" id="john"></div>
              <div class="modal-name"> John </div>
              <p> John has a deep love of fast cars and music. John is the guy to go talk to if you are ready for a drumming and/or beatboxing battle. For tough love advice talk to John. </p>

            </div>
          </div>
        <a class="person" id="curtis" href="#curtisModal"></a>

          <div id="curtisModal" class="modalDialog">
            <div>
              <a href="#close" title="Close" class="close">X</a>
              <div class="modal-img" id="curtis"></div>
              <div class="modal-name"> Curtis </div>
              <p> Curtis is the most likely to drop everything and go on a last minute road trip. Curtis has built a reputation for his love of pulled pork and sick crits.  </p>

            </div>
          </div>
      </div>
    </div>
    <div id="registry-nav"> </div>
  </div>
