<div class="registry" id="registry">
    <div class="section-title"> Registry </div>
    <a href="https://www.zola.com/registry/moleandnick" class="zola-logo"> </a>
    <!-- <div class="divider"></div> -->
  </div>
