<div class="rsvp">
    <div id="rsvp-container">
      <h3> RSVP </h3>
      <h4> Fill out the form belong to RSVP to the event.  </h4>
          <!-- <h3> This is the RSVP Form </h3> -->
          <%= render partial: 'rsvp_form' %>
    </div>
  </div>
