<div class="rsvp">
  <div id="rsvp-container">
    <div class="section-title"> RSVP </div>
    <div class="secondary-title rsvp-second"> Please RSVP by June 1st, 2016</div>
    <div class="card">
      <div class="card__front">
        <%= render partial: 'rsvp_form' %>
      </div>
      <div class="card__back"></div>
    </div>
  </div>
</div>
