<div class="story-title section-title" id="story"> Our story  </div>
  <div class="story" id="story-container" >
    <div id="walkers"></div>
    <div class="story-blurb" id="first">
      <h3>June 2012</h3>
      <p> Nick and Molly first meet at their Teach For America training in Chicago. They immediately pay absolutely no attention to each other.  </p>

    </div>
    <div class="story-blurb" id="second">
      <h3> Fall 2012</h3>
      <p> However, over time Molly and Nick become good freinds, laughing their way through grad school classes together. </p>
    </div>
    <div class="story-blurb" id="third">
      <h3> November 2012</h3>
      <p>  Then, during a fated night post 70's-dance-contest with freinds at a bar, Nick and Molly bonded over an air jam session to Free Bird. Dating commenced shortly after.</p>
    </div>
    <div class="story-blurb" id="fourth">
      <h3> 2012-2014 </h3>
      <p> Molly and Nick continue to teach in Detroit spending summer weekends hiking, biking, and lounging at Music Festivals, and winter evenings at happy hours.</p>

    </div>
    <div class="story-blurb" id="fifth">
      <h3> Summer 2014</h3>
      <p>  Nick and Molly finish up their second year teaching and take a month to travel around the United States visiting family.  </p>
    </div>
    <div class="story-blurb" id="sixth">
      <h3>September 2014 </h3>
      <p>  Having soaked up the family vibes, Molly and Nick set out to Thailand to teach English in Phuket. </p>
    </div>
    <div class="story-blurb" id="seventh">
      <h3> September 2014- May 2015 </h3>
      <p>  They meet lots of amazing poeple and cultures, and see countless sunsets resting in a hammock on the beach. Having filled up on great experiences, they return to the United States.   </p>
    </div>
    <div class="story-blurb" id="eighth">
      <h3> June 2015 </h3>
      <p>  With the help of Molly's niece and nephew, Nick asks Molly to marry him.</p>
    </div>
    <!-- <div id="groom"></div> -->

  </div>
