<div class="story-title section-title" id="story"> Our story  </div>
  <div class="story" id="story-container" >
    <div id="walkers"></div>
    <div class="story-blurb" id="first">
      <h3>June 2012</h3> <a href="#firstModal" class="camera-link"></a>
      <div id="firstModal" class="storymodalDialog">
        <div>
          <a href="#close" title="Close" class="storyclose">X</a>
          <div class="story-pic" id="first-story-pic"></div>
        </div>
      </div>
      <p> Nick and Molly first meet at their Teach For America training in Chicago. They immediately pay absolutely no attention to each other.  </p>
    </div>
    <div class="story-blurb" id="second">
      <h3> Fall 2012</h3><a href="#secondModal" class="camera-link"></a>
      <div id="secondModal" class="storymodalDialog">
        <div>
          <a href="#close" title="Close" class="storyclose">X</a>
          <div class="story-pic" id="second-story-pic"></div>
        </div>
      </div>
      <p> However, over time Molly and Nick become good freinds, laughing their way through grad school classes together. </p>
    </div>
    <div class="story-blurb" id="third">
      <h3> November 2012</h3><a href="#thirdModal" class="camera-link"></a>
      <div id="thirdModal" class="storymodalDialog">
        <div>
          <a href="#close" title="Close" class="storyclose">X</a>
          <div class="story-pic" id="third-story-pic"></div>
        </div>
      </div>
      <p>  Then, during a fated night post 70's-dance-contest with freinds at a bar, Nick and Molly bonded over an air jam session to Free Bird. Dating commenced shortly after.</p>
    </div>
    <div class="story-blurb" id="fourth">
      <h3> 2012-2014  </h3> <a href="#fourthModal" class="camera-link"></a>
      <div id="fourthModal" class="storymodalDialog">
        <div>
          <a href="#close" title="Close" class="storyclose">X</a>
          <div class="story-pic" id="fourth-story-pic"></div>
        </div>
      </div>
      <p> Molly and Nick continue to teach in Detroit spending summer weekends hiking, biking, and lounging at Music Festivals, and winter evenings at happy hours.</p>

    </div>
    <div class="story-blurb" id="fifth">
      <h3> Summer 2014</h3><a href="#fifthModal" class="camera-link"></a>
      <div id="fifthModal" class="storymodalDialog">
        <div>
          <a href="#close" title="Close" class="storyclose">X</a>
          <div class="story-pic" id="fifth-story-pic"></div>
        </div>
      </div>
      <p>  Nick and Molly finish up their second year teaching and take a month to travel around the United States visiting family.  </p>
    </div>
    <div class="story-blurb" id="sixth">
      <h3>September 2014 </h3><a href="#sixthModal" class="camera-link"></a>
      <div id="sixthModal" class="storymodalDialog">
        <div>
          <a href="#close" title="Close" class="storyclose">X</a>
          <div class="story-pic" id="sixth-story-pic"></div>
        </div>
      </div>
      <p>  Having soaked up the family vibes, Molly and Nick set out to Thailand to teach English in Phuket. </p>
    </div>
    <div class="story-blurb" id="seventh">
      <h3> Sept 2014 - May 2015 </h3> <a href="#seventhModal" class="camera-link"></a>
      <div id="seventhModal" class="storymodalDialog">
        <div>
          <a href="#close" title="Close" class="storyclose">X</a>
          <div class="story-pic" id="seventh-story-pic"></div>
        </div>
      </div>
      <p>  They meet lots of amazing poeple and cultures, and see countless sunsets resting in a hammock on the beach. Having filled up on great experiences, they return to the United States.   </p>
    </div>
    <div class="story-blurb" id="eighth">
      <h3> June 2015 </h3> <a href="#eigthModal" class="camera-link"></a>
      <div id="eigthModal" class="storymodalDialog">
        <div>
          <a href="#close" title="Close" class="storyclose">X</a>
          <div class="story-pic" id="eigth-story-pic"></div>
        </div>
      </div>
      <p>  With the help of Molly's niece and nephew, Nick asks Molly to marry him.</p>
    </div>
    <!-- <div id="groom"></div> -->

  </div>
