<div class="timeline" id="timeline">
  <div class="timeline-container">
    <div class="images-left">
      <div class="image-border">
        <div class="left-image"> </div>
      </div>
    </div>
    <div class="images-right">
      <div class="image-border">
        <div class="right-image"> </div>
      </div>
    </div>
    <div class="timeline-text-container">
      <div class="section-title mobile-section-title" > Weekend Itinerary </div>
        <div class="secondary-title mobile-secondary-title"> Friday, July 8th </div>
        <div class="day-container">
          <div class="day-event"> Anytime: Arrive in Cary- Hangout around town</div>
          <div class="day-event"> 5:00pm: Wedding Rehersal for wedding party</div>
          <div class="day-event"> 6:30pm: Rehersal Dinner</div>
          <div class="day-event"> 9:00pm: Pre-Wedding hangout at the Holiday Inn</div>
        </div>
        <div class="secondary-title mobile-secondary-title"> Saturday, July 9th </div>
        <div class="day-container">
          <div class="day-event"> </div>
          <div class="day-event"> </div>
          <div class="day-event"> </div>
          <div class="day-event"> 4:00pm: Buses start transporting guests to ceremony</div>
          <div class="day-event"> 5:00pm: Wedding Ceremony</div>
          <div class="day-event"> 6:00pm: Cocktail Hour  </div>
          <div class="day-event"> 7:00pm: Reception Dinner</div>
          <div class="day-event"> 8:00pm: Live Band & Dancing</div>
          <div class="day-event"> 1:00am: The last bus leaves the reception venue for the Holiday Inn</div>
        </div>
        <div class="secondary-title mobile-secondary-title"> Sunday, July 10th </div>
        <div class="day-container">
          <div class="day-event"> Anytime: Guests begin to depart Cary</div>
          <div class="day-event"> </div>
        </div>
        <div class="small-logo"></div>
      </div>
      <div id="party-nav"></div>
    </div>
       <!-- <div class="divider"></div> -->
</div>
