<div class="timeline" id="timeline">
  <div class="section-title" > Weekend Itinerary </div>
<!--   <table class="timeline-table">
    <tr>
      <td class="secondary-title"> Friday </td>
      <td class="secondary-title"> Saturday </td>
      <td class="secondary-title"> Sunday </td>
    </tr>
  </table> -->
    <div class="secondary-title"> Friday </div>
    <div class="day-container">
      <div class="day-event"> Anytime: Arrive in Cary- Hangout around town</div>
      <div class="day-event"> 5:00pm Wedding Rehersal for wedding party</div>
      <div class="day-event"> 6:00pm Rehersal Dinner</div>
      <div class="day-event"> 9:00pm Pre-wedding hangout at the Holday Inn Bar</div>
    </div>
    <div class="secondary-title"> Saturday </div>
    <div class="day-container">
      <div class="day-event"> 10:00am: Ladies begin their pre-wedding activities</div>
      <div class="day-event"> 12:00am: Gentleman continue to hang out</div>
      <div class="day-event"> 3:00pm: Prewedding pictures commence</div>
      <div class="day-event"> 5:00pm: Wedding begins!</div>
      <div class="day-event"> 6:00pm: Cocktail hour on the yard </div>
      <div class="day-event"> 7:00pm: Reception Dinner</div>
      <div class="day-event"> 8:00pm: Dancing!</div>
      <div class="day-event"> 10:00pm: Afterparty</div>
    </div>
    <div class="secondary-title"> Sunday </div>
    <div class="day-container">
      <div class="day-event"> 10:00am: Reunite and recoop over brunch</div>
      <div class="day-event"> 12:00am: Rest and relaxation</div>
      <div class="day-event"> </div>
    </div>
    <div id="party-nav"></div>
</div>
