<div id="home"></div>
<div id="wrap">
  <div class="story">
    <div id="walkers"></div>
    <div id="first"></div>
    <div id="second"></div>
    <div id="third"></div>
    <div id="fourth"></div>
    <div id="fifth"></div>
    <div id="sixth"></div>
    <div id="seventh"></div>
    <div id="eighth"></div>

  </div>

  <div class="map-container">
    <div class="map-title"> Destination </div>
    <div id="map">

    </div>

    <div class="map-buttons">
      <button id="wedding-directions"> Directions to Wedding</button>
      <button> Directions to Reception</button>
    </div>


  </div>
  <div class="party">
    <div id="bridesmaids">
      <div class="person" id="emily"> </div>
      <div class="person" id="adrian"> </div>
      <div class="person" id="elena"></div>
      <div class="person" id="leah"> </div>
      <div class="person" id="rachel"> </div>
      <div class="person" id="morgan"> </div>
      <div class="person" id="wenny"> </div>
      <div class="person" id="ann"> </div>
      <div class="person" id="nicole"> </div>
    </div>
    <div id="groomsmen">
      <div class="person" id="chen"></div>
      <div class="person" id="chris1"></div>
      <div class="person" id="jim"></div>
      <div class="person" id="adam"></div>
      <div class="person" id="nick1"></div>
      <div class="person" id="ben"></div>
      <div class="person" id="chris2"></div>
      <div class="person" id="john"></div>
      <div class="person" id="curtis"></div>

    </div>
  </div>
  <div class="registry">

  </div>
  <div class="rsvp">
    <div id="rsvp-container">
    </div>
  </div>
</div>

