<div id="home"></div>
<div id="wrap">
  <div class="story-title"> <h3> Our story </h3> </div>
  <div class="story">
    <div id="walkers"></div>
    <div class="story-blurb" id="first">
      <h3>June 2012</h3>
      <p> Nick and Molly first meet at their Teach For America training in Chicago. </p>

    </div>
    <div class="story-blurb" id="second">
      <h3> Fall 2012</h3>
      <p> Through their graduate school classes, Nick and Molly become good freinds laughing through class together. </p>
    </div>
    <div class="story-blurb" id="third">
      <h3> November 2012</h3>
      <p>  Nick and Molly air jam to Free Bird. Dating commences shortly after.</p>
    </div>
    <div class="story-blurb" id="fourth">
      <h3> </h3>
      <p> </p>

    </div>
    <div class="story-blurb" id="fifth">
      <h3> </h3>
      <p>  Finish two years teahcing </p>
    </div>
    <div class="story-blurb" id="sixth">
      <h3>October 2015 </h3>
      <p>  After two years of Teaching in Detroit, Nick and Molly head out to teach and explore in Thailand</p>
    </div>
    <div class="story-blurb" id="seventh">
      <h3>  </h3>
      <p>  Return to the United States</p>
    </div>
    <div class="story-blurb" id="eighth">
      <h3> June 2015 </h3>
      <p>  With the help of Molly's niece and nephew, Nick asks Molly to marry him.  </p>
    </div>

  </div>

  <div class="map-container">
    <div class="map-title"> Destination </div>
    <div class="directions">
      <p> The wedding and cocktail hour will be helped in the backyard of the mother of the bride.</p>
      <p>Shortly after, guests will be transported by trolley down to the Fox River Park for dinner and dancing.  </p>
      <p>Don't worry about partying too hard, as transportation will also be provided to and from the nearby Holidae Inn</p>

    </div>
    <div id="map"></div>

    <div class="map-buttons">
      <button id="wedding-directions"> Directions to Wedding</button>
      <button id="reception-directions"> Directions to Reception</button>
    </div>

    <div class="hotel">
      <h3> Hotel Reservations </h3>
      <p> Rooms have been blocked off at the nearby Holiday Inn, and we recommend using them as transportation will be provided from that location </p>
      <a href="#"> Book Your Room Here></a>
    </div>

  </div>
  <div class="party">
    <div id="bridesmaids">
      <div class="person" id="emily"> </div>
      <div class="person" id="adrian"> </div>
      <div class="person" id="elena"></div>
      <div class="person" id="leah"> </div>
      <div class="person" id="rachel"> </div>
      <div class="person" id="morgan"> </div>
      <div class="person" id="wenny"> </div>
      <div class="person" id="ann"> </div>
      <div class="person" id="nicole"> </div>
    </div>
    <div id="groomsmen">
      <div class="person" id="chen"></div>
      <div class="person" id="chris1"></div>
      <div class="person" id="jim"></div>
      <div class="person" id="adam"></div>
      <div class="person" id="nick1"></div>
      <div class="person" id="ben"></div>
      <div class="person" id="chris2"></div>
      <div class="person" id="john"></div>
      <div class="person" id="curtis"></div>

    </div>
  </div>
  <div class="registry">

  </div>
  <div class="rsvp">
    <div id="rsvp-container">
      <h3> RSVP </h3>
      <a href="#openModal">Click to RSVP</a>

      <div id="openModal" class="modalDialog">
        <div>
          <a href="#close" title="Close" class="close">X</a>
          <h3> This is the RSVP Form </h3>
        </div>
      </div>
    </div>
  </div>
</div>

