<div id="home"></div>
<div id="wrap">
  <div class="story-title" id="story"> <h3> Our story </h3> </div>
  <div class="story" >
    <div id="walkers"></div>
    <div class="story-blurb" id="first">
      <h3>June 2012</h3>
      <p> Nick and Molly first meet at their Teach For America training in Chicago. </p>

    </div>
    <div class="story-blurb" id="second">
      <h3> Fall 2012</h3>
      <p> Through their graduate school classes, Nick and Molly become good freinds laughing through class together. </p>
    </div>
    <div class="story-blurb" id="third">
      <h3> November 2012</h3>
      <p>  Nick and Molly air jam to Free Bird. Dating commences shortly after.</p>
    </div>
    <div class="story-blurb" id="fourth">
      <h3> </h3>
      <p> </p>

    </div>
    <div class="story-blurb" id="fifth">
      <h3> </h3>
      <p>  Finish two years teahcing </p>
    </div>
    <div class="story-blurb" id="sixth">
      <h3>October 2015 </h3>
      <p>  After two years of Teaching in Detroit, Nick and Molly head out to teach and explore in Thailand</p>
    </div>
    <div class="story-blurb" id="seventh">
      <h3>  </h3>
      <p>  Return to the United States</p>
    </div>
    <div class="story-blurb" id="eighth">
      <h3> June 2015 </h3>
      <p>  With the help of Molly's niece and nephew, Nick asks Molly to marry him.  </p>
    </div>

  </div>

  <%= render partial: 'map' %>
  <%= render partial: 'party' %>
  <%= render partial: 'registry' %>
  <%= render partial: 'rsvp' %>
</div>

