<div class="home"></div>
<div class="story">
  <div id="molly"></div>
  <div id="nick"></div>

</div>

<div class="map">
  <div class="map-container">
    Google Map
  </div>

  <div class="map-buttons">
    <button> Directions to Wedding</button>
    <button> Directions to Reception</button>
  </div>


</div>
<div class="party">
  <div id="bridesmaids">
    <div class="person" id="emily"> </div>
    <div class="person" id="adrian"> </div>
    <div class="person" id="elena"></div>
    <div class="person" id="leah"> </div>
    <div class="person" id="rachel"> </div>
    <div class="person" id="morgan"> </div>
    <div class="person" id="wenny"> </div>
    <div class="person" id="ann"> </div>
    <div class="person" id="nicole"> </div>
    <div class="person"> </div>
    <div class="person"> </div>
  </div>
  <div id="groomsmen">
    <div class="person" id="chen"></div>
    <div class="person" id="chris1"></div>
    <div class="person" id="jim"></div>
    <div class="person" id="adam"></div>
    <div class="person" id="nick1"></div>
    <div class="person" id="ben"></div>
    <div class="person" id="chris2"></div>
    <div class="person" id="john"></div>
    <div class="person" id="curtis"></div>

  </div>
</div>
<div class="registry">

</div>
<div class="rsvp">
  <div id="rsvp-container">
  </div>
</div>

