html, body {
  width: 100%;
  height: 7000px;
  /*font-family: 'Kaushan Script', cursive;*/
  font-family: 'Amaranth', sans-serif;
  margin: 0;
}

h3 {
  margin-top: 0px;
}

.section-title {
  font-size: 50px;
  /*font-family: 'Shadows Into Light', cursive;*/
  font-family: 'Merienda One', cursive;
  text-align: center;
  margin-bottom: 20px;
}

.secondary-title {
  text-align: center;
  font-size: 40px;
  margin-bottom: 10px;
  /*font-family: 'Shadows Into Light', cursive;*/
  font-family: 'Merienda One', cursive;
}
#wrap {
  position: relative;
}
.nav-bar {
  position: fixed;
  width: 100%;
  height: 40px;
  top: 0;
  left: 0;
  z-index: 99999;
  background-color: rgba(211,211,211,0.4);
  text-align: center;
  vertical-align: text-top;
  border-bottom: 2px solid black;
}

.nav-bar a {
  text-decoration: none;
  font-family: 'Merienda One', cursive;
  color: black;
  font-size: 1.3em;
  margin: 10px 10px 0px 10px;
}

.container {
  margin-top: 70px;
}

#home {
  min-width: 100%;
  height: 675px;
  /*background: image-url('engagement.jpg') center center no-repeat, image-url('tileable_wood_texture.png') repeat;*/
  background-image: image-url('engage3.jpg');
  /*background-image: image-url('nickmole3.jpg');*/
  background-position: center;
  background-size: cover;
  /*background-repeat: no-repeat;*/
  /*background: image-url('witewall_3.png') repeat;;*/
  margin: 0 auto;
  margin-top: 40px;
  position: relative;
  left: 0;
  /*top: 0;*/
}


.story {
  width: 100%;
  left: 0;
  right: 0;
  height: 3000px;
  background-image: image-url('storybackground.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}



.map-container {

  width: 100%;
  left: 0;
  right: 0;
  height: 875px;
  background-image: image-url('tileable_wood_texture.png');
}

.timeline {
  width: 100%;
  left: 0;
  right: 0;
  height: 700px;
  background-image: image-url('new_year_background.png');
}

.party {
  width: 100%;
  left: 0;
  right: 0;
  height: 800px;
  background-image: image-url('tileable_wood_texture.png');

}

.registry {
  width: 100%;
  left: 0;
  right: 0;
  height: 650px;
  background-image: image-url('new_year_background.png');
  background-repeat: repeat;
}

.rsvp {
  width: 100%;
  left: 0;
  right: 0;
  height: 600px;
  background-image: image-url('tileable_wood_texture.png');
}














