html, body {
  width: 100%;
  height: 8120px;
  font-family: 'Amaranth', sans-serif;
  margin: 0;
  color: #555856;
  overflow-x: hidden;
}

h3 {
  margin-top: 0px;
}

.mobile-nav-a {
  display: none;
}
.divider {
  background-image: url('https://s3.amazonaws.com/mollynick/weddingwebsite/divider.png');
  background-repeat: no-repeat;
  height: 100px;
  width: 1600px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.section-title {
  font-size: 50px;
  font-family: 'Merienda One', cursive;
  text-align: center;
  margin-bottom: 20px;
  color: #555856;
}

.secondary-title {
  text-align: center;
  font-size: 40px;
  margin-bottom: 10px;
  font-family: 'Merienda One', cursive;
  color: #555856;
}
#wrap {
  position: relative;
  background-image: url('https://s3.amazonaws.com/mollynick/weddingwebsite/lightpaperfibers.png');
  background-repeat: repeat;
}
.nav-bar {
  position: fixed;
  width: 100%;
  height: 40px;
  top: 0;
  left: 0;
  z-index: 99999;
  background-color: rgba(255,255,255,0.9);
  text-align: center;
  vertical-align: text-top;
  border-bottom: 1px solid black;
  color: #555856;
}

.nav-bar a {
  text-decoration: none;
  font-family: 'Merienda One', cursive;
  color: #555856;
  font-size: 1.3em;
  margin: 10px 10px 0px 10px;
}

.container {
  margin-top: 70px;
}

#home {
  min-width: 100%;
  height: 675px;
  /*background-image: image-url('engage4.jpg');*/
  /*background-image: image-url('mollynickbeach.jpg');*/
  /*background-image: image-url('mollynickdark.png');*/
  /*background-position: center;*/
/*  background-size: cover;*/
  /*background-image: image-url('darkwood.JPG');*/
  background-image: url('https://s3.amazonaws.com/mollynick/weddingwebsite/fawn.jpg');
  /*background-size: 100%;*/
  background-repeat: repeat;
  margin: 0 auto;
  margin-top: 40px;
  position: relative;
  left: 0;
  text-align: center;
}

.home-img {
  width: 639px;
  height:434px;
  max-width: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('https://s3.amazonaws.com/mollynick/weddingwebsite/engage4.jpg');
  margin: 0 auto;
  /*margin-bottom: 0;*/
  position: absolute;
  /*border-radius: 90px;*/
  /*bottom: 5px;*/
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
}

#home-title {
/*  text-align: center;
  font-size: 80px;
  color: #555856;*/
  height: 200px;
  width:573px;
  max-width: 100%;
  background-image: url('https://s3.amazonaws.com/mollynick/weddingwebsite/header2.png');
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
}
#home-subtitle {
/*  text-align: center;
  font-size: 60px;
  color: white;*/
  height: 200px;
  width: 100%;
  /*background-image: image-url('divider.png');*/
}


.story {
  width: 100%;
  left: 0;
  right: 0;
  height: 3000px;
  background-image: url('https://s3.amazonaws.com/mollynick/weddingwebsite/storybackground.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}



.map-container {

  width: 100%;
  left: 0;
  right: 0;
  height: 875px;
  /*overflow: auto;*/
  /*background-image: image-url('tileable_wood_texture.png');*/
}

.timeline {
  width: 100%;
  left: 0;
  right: 0;
  height: 800px;
  overflow: auto;
  /*background-image: image-url('new_year_background.png');*/
}

.party {
  width: 100%;
  left: 0;
  right: 0;
  height: 930px;
  overflow: auto;
  /*background-image: image-url('tileable_wood_texture.png');*/

}

.registry {
  width: 100%;
  left: 0;
  right: 0;
  height: 640px;
  /*background-image: image-url('new_year_background.png');*/
  background-repeat: repeat;
  /*overflow: auto;*/
}

.rsvp {
  width: 100%;
  max-width: 100%;
  left: 0;
  right: 0;
  height: 680px;
  /*background-image: image-url('darkwood.JPG');*/
  background-size: 100%;

}

@media (max-width: 765px) {

  .reg-nav-a {
    display: none;
  }
  .mobile-nav-a {
    display: inline-block;

  }
  .nav-bar a {
    font-size: 15px;
    margin: 10px 3px 0px 3px;
    vertical-align: text-bottom;
  }
  .home-img {
    margin: 0;
    height: 200px;
    width: 100%;
    /*display: none;*/
  }

  #home-title {
    height: 125px;

  }
  #home-subtitle {
    height: 0px;
    width: 0px;
    display: none;
  }

  #home {
    height: 380px;
  }
  .story {
    display: none;
  }

  .story-title {
    display: none;
  }

  html, body, .party, .rsvp, .registry, .timeline, .map-container, {
    height: 100%;
  }

  .secondary-title {
    font-size: 20px;
  }

  .section-title {
    font-size: 30px;
  }
}













