.person {
  background-color: blue;
  border-radius: 40%;
  height: 100px;
  width: 100px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: inline-block;
}

#emily {
  background-image: image-url('emily.jpg');
}

#emily:hover {

}

#adrian {
  background-image: image-url('adrienne.jpg');
}

#adrian:hover {

}

#elena {
  background-image: image-url('elena.jpg');
}

#elena:hover {

}
#leah {
  background-image: image-url('leah.jpg');
}

#leah:hover {

}
#rachel {
  background-image: image-url('rachel.png');
}

#rachel:hover {

}

#morgan {
  background-image: image-url('morgan.jpg');
}

#morgan:hover {

}

#wenny {
  background-image: image-url('wenny.jpg');
}

#wenny:hover {

}

#ann {
  background-image: image-url('anne.jpg');
}

#ann:hover {

}
#nicole {
  background-image: image-url('nicole.jpg');
}

#nicole:hover {

}
