.modalDialog {
  position: fixed;
  /*font-family: Arial, Helvetica, sans-serif;*/
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}


.modalDialog:target {
  opacity:1;
  pointer-events: auto;
}

.modalDialog > div {
  width: 400px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #fff;
  background: -moz-linear-gradient(#fff, #999);
  background: -webkit-linear-gradient(#fff, #999);
  background: -o-linear-gradient(#fff, #999);
}

.modal-img {
  height: 100px;
  width: 100px;
  display: inline-block;
  background-size: 100% 100%;
  border-radius: 100%;
  float: left;
}


.modal-name {
  display: inline-block;
  font-size: 30px;
  text-align: center;
}

.close {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}


@media only screen and (max-device-width: 800px) {
  .modalDialog {
    width: 100%;
  }
  .modalDialog > div {
    width: 80%;
  }
}
.close:hover { background: #00d9ff; }

.first-row {
  text-align: center;
}

.second-row {
  text-align: center;

}

.third-row {
  text-align: center;
}
.person {
  background-color: rgba(0,0,0,0.3);
  /*border-image: url('tileable_wood_texture.png') 5% repeat;*/
  border: 2px solid #663300;
  border-radius: 100%;
  height: 150px;
  width: 150px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: inline-block;
}

#julie {
  background-image: url('https://s3.amazonaws.com/mollynick/weddingwebsite/juliefun.jpg');
  background-image: url('https://s3.amazonaws.com/mollynick/weddingwebsite/julie.jpg');
}

#julie:hover {
  background-image: url('https://s3.amazonaws.com/mollynick/weddingwebsite/juliefun.jpg');
}

#lindsey {
  background-image: url('https://s3.amazonaws.com/mollynick/weddingwebsite/lindseyfun.jpg');
  background-image: url('https://s3.amazonaws.com/mollynick/weddingwebsite/lindsey.jpg');
}

#lindsey:hover {
  background-image: url('https://s3.amazonaws.com/mollynick/weddingwebsite/lindseyfun.jpg');
}

#emily3 {
  background-image: url('https://s3.amazonaws.com/mollynick/weddingwebsite/emily3fun.jpg');
  background-image: url('https://s3.amazonaws.com/mollynick/weddingwebsite/emily3.jpg');
}

#emily3:hover {
  background-image: url('https://s3.amazonaws.com/mollynick/weddingwebsite/emily3fun.jpg');
}

#kimberly {
  background-image: url('https://s3.amazonaws.com/mollynick/weddingwebsite/kimbofun.jpg');
  background-image: url('https://s3.amazonaws.com/mollynick/weddingwebsite/kimbo.jpg');
}

#kimberly:hover {
  background-image: url('https://s3.amazonaws.com/mollynick/weddingwebsite/kimbofun.jpg');
}

#emily {
  background-image: url('https://s3.amazonaws.com/mollynick/weddingwebsite/emilyfun.jpg');
  background-image: url('https://s3.amazonaws.com/mollynick/weddingwebsite/emily.jpg');
}

#emily:hover {
  background-image: url('https://s3.amazonaws.com/mollynick/weddingwebsite/emilyfun.jpg');

}

#adrian {
  background-image: url('https://s3.amazonaws.com/mollynick/weddingwebsite/adriennefun.jpg');
  background-image: url('https://s3.amazonaws.com/mollynick/weddingwebsite/adrienne.jpg');
}

#adrian:hover {
  background-image: url('https://s3.amazonaws.com/mollynick/weddingwebsite/adriennefun.jpg');
}

#elena {
  background-image: url('https://s3.amazonaws.com/mollynick/weddingwebsite/elenafun.jpg');
  background-image: url('https://s3.amazonaws.com/mollynick/weddingwebsite/elena.jpg');
}

#elena:hover {
  background-image: url('https://s3.amazonaws.com/mollynick/weddingwebsite/elenafun.jpg');
}
#leah {
  background-image: url('https://s3.amazonaws.com/mollynick/weddingwebsite/leahfun.jpg');
  background-image: url('https://s3.amazonaws.com/mollynick/weddingwebsite/leah.jpg');
}

#leah:hover {
  background-image: url('https://s3.amazonaws.com/mollynick/weddingwebsite/leahfun.jpg');
}
#rachel {
  background-image: url('https://s3.amazonaws.com/mollynick/weddingwebsite/rachelfun.jpg');
  background-image: url('https://s3.amazonaws.com/mollynick/weddingwebsite/rachel.png');
}

#rachel:hover {
  background-image: url('https://s3.amazonaws.com/mollynick/weddingwebsite/rachelfun.jpg');
}

#morgan {
  background-image: url('https://s3.amazonaws.com/mollynick/weddingwebsite/morganfun.jpg');
  background-image: url('https://s3.amazonaws.com/mollynick/weddingwebsite/morgan.jpg');
}

#morgan:hover {
  background-image: url('https://s3.amazonaws.com/mollynick/weddingwebsite/morganfun.jpg');
}

#wenny {
  background-image: url('https://s3.amazonaws.com/mollynick/weddingwebsite/wennyfun.jpg');
  background-image: url('https://s3.amazonaws.com/mollynick/weddingwebsite/wenny.jpg');
}

#wenny:hover {
  background-image: url('https://s3.amazonaws.com/mollynick/weddingwebsite/wennyfun.jpg');
}

#ann {
  background-image: url('https://s3.amazonaws.com/mollynick/weddingwebsite/annfun.jpg');
  background-image: url('https://s3.amazonaws.com/mollynick/weddingwebsite/anne.jpg');
}


#ann:hover {
  background-image: url('https://s3.amazonaws.com/mollynick/weddingwebsite/annfun.jpg');
}
#nicole {
  background-image: url('https://s3.amazonaws.com/mollynick/weddingwebsite/nicolefun.jpg');
  background-image: url('https://s3.amazonaws.com/mollynick/weddingwebsite/nicole.jpg');
}

#nicole:hover {
  background-image: url('https://s3.amazonaws.com/mollynick/weddingwebsite/nicolefun.jpg');
}



