.modalDialog {
  position: fixed;
  /*font-family: Arial, Helvetica, sans-serif;*/
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}


.modalDialog:target {
  opacity:1;
  pointer-events: auto;
}

.modalDialog > div {
  width: 400px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #fff;
  background: -moz-linear-gradient(#fff, #999);
  background: -webkit-linear-gradient(#fff, #999);
  background: -o-linear-gradient(#fff, #999);
}

.modal-img {
  height: 100px;
  width: 100px;
  display: inline-block;
  background-size: 100% 100%;
  border-radius: 100%;
  float: left;
}


.modal-name {
  display: inline-block;
  font-size: 30px;
  text-align: center;
}

.close {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }

.first-row {
  text-align: center;
}

.second-row {
  text-align: center;

}
.person {
  background-color: rgba(0,0,0,0.3);
  /*border-image: url('tileable_wood_texture.png') 5% repeat;*/
  border: 2px solid #663300;
  border-radius: 100%;
  height: 150px;
  width: 150px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: inline-block;
}

#emily {
  background-image: image-url('emily.jpg');
}

#emily:hover {
background-image: image-url('emilyfun.jpg');

}

#adrian {
  background-image: image-url('adrienne.jpg');
}

#adrian:hover {
  background-image: image-url('adriennefun.jpg');
}

#elena {
  background-image: image-url('elena.jpg');
}

#elena:hover {
  background-image: image-url('elenafun.jpg');
}
#leah {
  background-image: image-url('leah.jpg');
}

#leah:hover {
  background-image: image-url('leahfun.jpg');
}
#rachel {
  background-image: image-url('rachel.png');
}

#rachel:hover {
  background-image: image-url('rachelfun.jpg');
}

#morgan {
  background-image: image-url('morgan.jpg');
}

#morgan:hover {
  background-image: image-url('morganfun.jpg');
}

#wenny {
  background-image: image-url('wenny.jpg');
}

#wenny:hover {
  background-image: image-url('wennyfun.jpg');
}

#ann {
  background-image: image-url('anne.jpg');
}


#ann:hover {
  background-image: image-url('annfun.jpg');
}
#nicole {
  background-image: image-url('nicole.jpg');
}

#nicole:hover {
  background-image: image-url('nicolefun.jpg');
}


