.person {

}

#chen {
  background-image: url('https://s3.amazonaws.com/mollynick/weddingwebsite/chen.jpg');
}

#chen:hover {
  background-image: url('https://s3.amazonaws.com/mollynick/weddingwebsite/chenfun.jpg');
}

#chris1 {
  background-image: url('https://s3.amazonaws.com/mollynick/weddingwebsite/chris1.jpg');
}

#chris1:hover {
  background-image: url('https://s3.amazonaws.com/mollynick/weddingwebsite/chris1fun.jpg');
}

#jim {
  background-image: url('https://s3.amazonaws.com/mollynick/weddingwebsite/jim.jpg');
}

#jim:hover {
  background-image: url('https://s3.amazonaws.com/mollynick/weddingwebsite/jimfun.jpg');
}
#adam {
  background-image: url('https://s3.amazonaws.com/mollynick/weddingwebsite/adam.jpg');
}

#adam:hover {
  background-image: url('https://s3.amazonaws.com/mollynick/weddingwebsite/adamfun.jpg');
}
#nick1 {
  background-image: url('https://s3.amazonaws.com/mollynick/weddingwebsite/nick1.jpg');
}

#nick1:hover {
  background-image: url('https://s3.amazonaws.com/mollynick/weddingwebsite/nick2fun.jpg');
}

#ben {
  background-image: url('https://s3.amazonaws.com/mollynick/weddingwebsite/ben.jpg');
}

#ben:hover {
  background-image: url('https://s3.amazonaws.com/mollynick/weddingwebsite/benfun.jpg');
}

#chris2 {
  background-image: url('https://s3.amazonaws.com/mollynick/weddingwebsite/chris2.jpg');
}

#chris2:hover {
  background-image: url('https://s3.amazonaws.com/mollynick/weddingwebsite/chris2fun.jpg');
}

#john {
  background-image: url('https://s3.amazonaws.com/mollynick/weddingwebsite/john.jpg');
}

#john:hover {
  background-image: url('https://s3.amazonaws.com/mollynick/weddingwebsite/johnfun.jpg');
}
#curtis {
  background-image: url('https://s3.amazonaws.com/mollynick/weddingwebsite/curtis.jpg');
}

#curtis:hover {
  background-image: url('https://s3.amazonaws.com/mollynick/weddingwebsite/curtisfun.jpg');
}
