#chen {
  background-image: url('chen.jpg');
}

#chen:hover {
  background-image: url();
}

#chris1 {
  background-image: url('chris1.jpg');
}

#chris1:hover {
  background-image: url();
}

#jim {
  background-image: url('jim.jpg');
}

#jim:hover {
  background-image: url();
}
#adam {
  background-image: url('adam.jpg');
}

#adam:hover {
  background-image: url();
}
#nick1 {
  background-image: url('nick1.jpg');
}

#nick1:hover {
  background-image: url();
}

#ben {
  background-image: url('ben.jpg');
}

#ben:hover {
  background-image: url();
}

#chris2 {
  background-image: url('chris2.jpg');
}

#chris2:hover {
  background-image: url();
}

#john {
  background-image: url('john.jpg');
}

#john:hover {
  background-image: url();
}
#curtis {
  background-image: url('curtis.jpg');
}

#curtis:hover {
  background-image: url();
}
