#chen {
  background-image: url();
}

#chen:hover {
  background-image: url();
}

#chris1 {
  background-image: url();
}

#chris1:hover {
  background-image: url();
}

#jim {
  background-image: url();
}

#jim:hover {
  background-image: url();
}
#adam {
  background-image: url();
}

#adam:hover {
  background-image: url();
}
#nick1 {
  background-image: url();
}

#nick1:hover {
  background-image: url();
}

#ben {
  background-image: url();
}

#ben:hover {
  background-image: url();
}

#chris2 {
  background-image: url();
}

#chris2:hover {
  background-image: url();
}

#john {
  background-image: url();
}

#john:hover {
  background-image: url();
}
#curtis {
  background-image: url();
}

#curtis:hover {
  background-image: url();
}
