.person {
  background-color: blue;
  border-radius: 40%;
  height: 100px;
  width: 100px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: inline-block;
}

#emily {
  background-image: url('emily.jpg');
}

#emily:hover {
  background-image: url();
}

#adrian {
  background-image: url('adrienne.jpg');
}

#adrian:hover {
  background-image: url();
}

#elena {
  background-image: url('elena.jpg');
}

#elena:hover {
  background-image: url();
}
#leah {
  background-image: url('leah.jpg');
}

#leah:hover {
  background-image: url();
}
#rachel {
  background-image: url('rachel.png');
}

#rachel:hover {
  background-image: url();
}

#morgan {
  background-image: url('morgan.jpg');
}

#morgan:hover {
  background-image: url();
}

#wenny {
  background-image: url('wenny.jpg');
}

#wenny:hover {
  background-image: url();
}

#ann {
  background-image: url('anne.jpg');
}

#ann:hover {
  background-image: url();
}
#nicole {
  background-image: url('nicole.jpg');
}

#nicole:hover {
  background-image: url();
}
