#chen {
  background-image: image-url('chen.jpg');
}

#chen:hover {
  background-image: image-url('chenfun.jpg');
}

#chris1 {
  background-image: image-url('chris1.jpg');
}

#chris1:hover {
  background-image: image-url('chris1fun.jpg');
}

#jim {
  background-image: image-url('jim.jpg');
}

#jim:hover {
  background-image: image-url('jimfun.jpg');
}
#adam {
  background-image: image-url('adam.jpg');
}

#adam:hover {
  background-image: image-url('adamfun.jpg');
}
#nick1 {
  background-image: image-url('nick1.jpg');
}

#nick1:hover {
  background-image: image-url('nick1fun.jpg');
}

#ben {
  background-image: image-url('ben.jpg');
}

#ben:hover {
  background-image: image-url('benfun.jpg');
}

#chris2 {
  background-image: image-url('chris2.jpg');
}

#chris2:hover {
  background-image: image-url('chris2fun.jpg');
}

#john {
  background-image: image-url('john.jpg');
}

#john:hover {
  background-image: image-url('johnfun.jpg');
}
#curtis {
  background-image: image-url('curtis.jpg');
}

#curtis:hover {
  background-image: image-url('curtisfun.jpg');
}
