.registry {
  text-align: center;
}
.zola-logo {
  width: 650px;
  height: 486px;
  background-image: url('https://s3.amazonaws.com/mollynick/weddingwebsite/zola_registry.jpg');
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
  display: block;

}


@media only screen and (max-device-width: 800px) {
  .zola-logo {
    width: 90%;
  }

}
