#walkers {
  margin: 0 auto;
  height: 300px;
  width: 300px;
  /*top: 100px*/
  z-index: 50;
  background-image: image-url("nicknmolenewoutfit.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;

}

/*
 * Animation for webkit
*/
@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
    40% {-webkit-transform: translateY(5px);}
    60% {-webkit-transform: translateY(-5px);}
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(5px);}
    60% {transform: translateY(-5px);}
}

/*
 * Adding the animation to our element
*/
.bounce {
    -webkit-animation-name: bounce;
    animation-name: bounce;
}


/*
 * Animation configurations ( duration and fill mode )
*/
.animated {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: forward;
    animation-fill-mode: forward;
}

.story-title {
  width: 100%;
  left: 0;
  right: 0;
  /*height: 300px;*/
  background-color: green;
}
.story {
  font-family: 'Shadows Into Light', cursive;
}

.story-blurb {
  border: 1px solid black;

  width: 15%;
  background-color: rgba(0,0,0,0.2);
  z-index: 10;
}

#first {
  height: 100px;
  width: 200px;
 /* top: 40px;*/
  left: -10%;
  position: relative;
  z-index: 2;

  background-position: center;
  background-repeat: none;
  background-size: 100% 100%;
}

#second {
  height: 100px;
  width: 100px;
  top: 200px;
  left: 110%;
  position: relative;
  z-index: 2;

  background-position: center;
  background-repeat: none;
  background-color: blue;
  background-size: 100% 100%;
}


#third {
  height: 100px;
  width: 100px;
  top: 400px;
  left: -30%;
  position: relative;
  z-index: 2;

  background-position: center;
  background-repeat: none;
  background-color: blue;
  background-size: 100% 100%;
}

#fourth {
  height: 100px;
  width: 100px;
  top: 600px;
  left: 140%;
  position: relative;
  z-index: 2;
  background: image-url('ring.png');
  background-position: center;
  background-repeat: none;
  background-color: blue;
  background-size: 100% 100%;
}


#fifth {
  height: 100px;
  width: 100px;
  top: 800px;
  left: -50%;
  position: relative;
  z-index: 2;
  background: image-url('ring.png');
  background-position: center;
  background-repeat: none;
  background-color: blue;
  background-size: 100% 100%;
}

#sixth {
  height: 100px;
  width: 100px;
  top: 1000px;
  left: 150%;
  position: relative;
  z-index: 2;
  background: image-url('ring.png');
  background-position: center;
  background-repeat: none;
  background-color: blue;
  background-size: 100% 100%;
}

#seventh {
  height: 100px;
  width: 100px;
  top: 1200px;
  left: -65%;
  position: relative;
  z-index: 2;
  background: image-url('ring.png');
  background-position: center;
  background-repeat: none;
  background-color: blue;
  background-size: 100% 100%;
}


#eighth {
  height: 100px;
  width: 100px;
  top: 1400px;
  left: 170%;
  position: relative;
  z-index: 2;
  background: image-url('ring.png');
  background-position: center;
  background-repeat: none;
  background-color: blue;
  background-size: 100% 100%;
}
