
#walkers {
  margin: 0 auto;
  height: 300px;
  width: 300px;
  z-index: 50;
  background-size: 100% 100%;
  position: relative;
}

#walkers-walk {
  height: 100%;
  width: 100%;
  margin: 0;
  background: url('https://s3.amazonaws.com/mollynick/weddingwebsite/nickandmolewalk.png') center center no-repeat;
  background-size: 100% 100%;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}

#walkers-stand {
  height: 100%;
  width: 100%;
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  background: url('https://s3.amazonaws.com/mollynick/weddingwebsite/nicknmolenewoutfit.png') center center no-repeat;
  background-size: 100% 100%;
}
#groom {
  height: 300px;
  width: 300px;
  z-index: 100;
  background: image-url('groomsuit.png') center center no-repeat;
  background-size: 100% 100%;
  position: relative;
  top: 1650px;
}


.storymodalDialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
  text-align: center;
}


.storymodalDialog:target {
  opacity:1;
  pointer-events: auto;
}

.story-pic {
  height: 300px;
  width: 400px;
  background-color: gray;
  margin: 0 auto;
  border: 2px solid black;
  border-radius: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;

}


#first-story-pic {
  background-image: url('https://s3.amazonaws.com/mollynick/weddingwebsite/mollynickfirst.jpg');
}

#second-story-pic {
  background-image: url('https://s3.amazonaws.com/mollynick/weddingwebsite/mollynickthree.jpg');
}

#third-story-pic {
  background-image: url('https://s3.amazonaws.com/mollynick/weddingwebsite/mollynickhallo.png');
}

#fourth-story-pic {
  background-image: url('https://s3.amazonaws.com/mollynick/weddingwebsite/mollynickbike.png');
}

#fifth-story-pic {
  background-image: url('https://s3.amazonaws.com/mollynick/weddingwebsite/mollynickfireworks.jpg');
}

#sixth-story-pic {
  background-image: url('https://s3.amazonaws.com/mollynick/weddingwebsite/mollynickthailand.jpg');
}

#seventh-story-pic {
  background-image: url('https://s3.amazonaws.com/mollynick/weddingwebsite/mollynickthai2.png');
}

#eigth-story-pic {
  background-image: url('https://s3.amazonaws.com/mollynick/weddingwebsite/mollynickengagement1.jpg');
}
.storymodalDialog > div {
  width: 400px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #fff;
  background: -moz-linear-gradient(#fff, #999);
  background: -webkit-linear-gradient(#fff, #999);
  background: -o-linear-gradient(#fff, #999);
  background: image-url('tileable_wood_texture.png');
}



.storyclose {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}

.storyclose:hover { background: #00d9ff; }

.story-title {
  width: 100%;
  left: 0;
  right: 0;
  margin-top: 0;
  margin-bottom: 0;
  background-color: #71bc78;

}

.story-title h3 {
  margin: 0;
  text-align: center;
}


.story-blurb {
  border: 3px solid black;
  width: 250px;
  background: image-url('tileable_wood_texture.png'), rgba(255,255,255,0.4);
  z-index: 10;
  border-radius: 20px;
}

.story-blurb h3 {
  margin: 5px 0 0 10px;
  display: inline-block;
  float: left;
}

.story-blurb p {
  clear: both;
}

.camera-link {
  height: 30px;
  width: 30px;
  display: inline-block;
  background-image: image-url('glyph-camera.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-right: 10px;
  margin-top: 5px;
  float: right;
  cursor: pointer;
}

.story-blurb p {
  margin: 0 0 0 14px;
}
#first {
  left: -10%;
  position: relative;
  z-index: 2;

  background-position: center;
  background-repeat: none;
  background-size: 100% 100%;
}

#second {
  top: 200px;
  left: 110%;
  position: relative;
  z-index: 2;

  background-position: center;
  background-repeat: none;
  background-size: 100% 100%;
}


#third {
  top: 400px;
  left: -30%;
  position: relative;
  z-index: 2;

  background-position: center;
  background-repeat: none;
  background-size: 100% 100%;
}

#fourth {
  top: 600px;
  left: 140%;
  position: relative;
  z-index: 2;

  background-position: center;
  background-repeat: none;
  background-size: 100% 100%;
}


#fifth {
  top: 800px;
  left: -50%;
  position: relative;
  z-index: 2;

  background-position: center;
  background-repeat: none;
  background-size: 100% 100%;
}

#sixth {
  top: 1000px;
  left: 150%;
  position: relative;
  z-index: 2;

  background-position: center;
  background-repeat: none;
  background-size: 100% 100%;
}

#seventh {
  top: 1200px;
  left: -65%;
  position: relative;
  z-index: 2;

  background-position: center;
  background-repeat: none;
  background-size: 100% 100%;
}


#eighth {
  top: 1400px;
  left: 170%;
  position: relative;
  z-index: 2;

  background-position: center;
  background-repeat: none;
  background-size: 100% 100%;
}


@media only screen and (max-device-width: 600px) {
    #first {
    left: 10%;
    position: relative;
    z-index: 2;

    background-position: center;
    background-repeat: none;
    background-size: 100% 100%;
  }

  #second {
    top: 200px;
    left: 70%;
    position: relative;
    z-index: 2;

    background-position: center;
    background-repeat: none;
    background-size: 100% 100%;
  }


  #third {
    top: 400px;
    left: 10%;
    position: relative;
    z-index: 2;

    background-position: center;
    background-repeat: none;
    background-size: 100% 100%;
  }

  #fourth {
    top: 600px;
    left: 70%;
    position: relative;
    z-index: 2;

    background-position: center;
    background-repeat: none;
    background-size: 100% 100%;
  }


  #fifth {
    top: 800px;
    left: 10%;
    position: relative;
    z-index: 2;

    background-position: center;
    background-repeat: none;
    background-size: 100% 100%;
  }

  #sixth {
    top: 1000px;
    left: 70%;
    position: relative;
    z-index: 2;

    background-position: center;
    background-repeat: none;
    background-size: 100% 100%;
  }

  #seventh {
    top: 1200px;
    left: 10%;
    position: relative;
    z-index: 2;

    background-position: center;
    background-repeat: none;
    background-size: 100% 100%;
  }


  #eighth {
    top: 1400px;
    left: 70%;
    position: relative;
    z-index: 2;

    background-position: center;
    background-repeat: none;
    background-size: 100% 100%;
  }

}

