/*timeline-table {
  width: 100%;
}*/

.day-container {
  text-align: center;
}

.timeline-container {
  width: 75%;
  height: 90%;
  /*text-align: center;*/
  /*margin: auto;*/
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin: auto;
  /*overflow: auto;*/
}

.images-left {
  order: 1;
 -ms-transform: rotate(-10deg); /* IE 9 */
  -webkit-transform: rotate(-10deg); /* Safari */
  transform: rotate(-10deg);
  flex-grow: 1;
  margin-right: 20px;
}

.timeline-text-container {
  order: 2;
  flex-grow: 2;
}

.images-right {
  order: 3;
  flex-grow: 1;
  /*float: right;*/
   -ms-transform: rotate(10deg); /* IE 9 */
  -webkit-transform: rotate(10deg); /* Safari */
  transform: rotate(10deg);
  margin-left: 20px;
}

.image-border {
  height: 250px;
  width: 200px;
  background-image: url('https://s3.amazonaws.com/mollynick/weddingwebsite/handmadepaper.png');
  position: relative;
  margin-top:200px;
  overflow: hidden;
  -webkit-box-shadow: 7px 7px 30px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 7px 7px 30px 0px rgba(0,0,0,0.75);
  box-shadow: 7px 7px 30px 0px rgba(0,0,0,0.75);

}

.left-image {
  height: 200px;
  width: 180px;
  margin: 10px 10px 10px;
  margin-bottom: -50px;
  background-image: url('https://s3.amazonaws.com/mollynick/weddingwebsite/mollynickdark.png');
  /*background-size: 100% 100%;*/
  position: relative;
  text-align: center;

}

.small-logo {
  height: 200px;
  width: 200px;
  margin: 0 auto;
  background-image: url('https://s3.amazonaws.com/mollynick/weddingwebsite/smallicon.png');
}

.right-image {
  height: 200px;
  width: 180px;
  margin: 10px 10px 10px;
  margin-bottom: -50px;
  background-image: url('https://s3.amazonaws.com/mollynick/weddingwebsite/mollynicklaugh.png');
  position: relative;
  text-align: center;
}

@media only screen and (max-device-width: 765px) {
  .mobile-section-title {
    font-size: 30px;
  }
  .mobile-secondary-title {
    font-size: 20px;
  }
  .images-left {
    display: none;
  }
  .images-right {
    display: none;
  }
}
