<!DOCTYPE html>
<html>
<head>
  <title>MollyNick</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class='nav-bar'>
  <a href="#"> Nick and Molly </a>
  <a href="#"> Timeline </a>
  <a href="#"> Our Story </a>
  <a href="#"> Location</a>
  <a href="#"> Wedding Party</a>
  <a href="#"> Gifts </a>
  <a href="#"> RSVP</a>
</div>

<%= yield %>

</body>
</html>
