<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <script src="https://maps.google.com/maps/api/js?libraries=places"></script>
  <link href='https://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Merienda+One|Amaranth' rel='stylesheet' type='text/css'>
  <title>MollyNick</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class='nav-bar'>
  <a class="reg-nav-a" href="/"> N and M </a>
  <a class="reg-nav-a" href="#map-nav"> Destination</a>
  <a class="reg-nav-a" href="#timeline-nav"> Timeline </a>
  <a class="reg-nav-a" href="#party-nav"> Wedding Party</a>
  <a class="reg-nav-a" href="#registry-nav"> Gifts </a>
  <a class="reg-nav-a" href="#rsvp-container"> RSVP</a>
  <!-- Mobile headings -->
  <a class="mobile-nav-a" href="#map-nav"> Locale</a>
  <a class="mobile-nav-a" href="#timeline-nav"> Timeline </a>
  <a class="mobile-nav-a" href="#party-nav"> Party</a>
  <a class="mobile-nav-a" href="#registry-nav"> Gifts </a>
  <a class="mobile-nav-a" href="#rsvp-container"> RSVP</a>

</div>

<%= yield %>

</body>
</html>
